.request-home {
    padding: 10px;
    flex-direction: column;
    text-align:right;
}

.request-box {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    border: solid;
    display:inline-block;
    flex-direction: column;
    width: 60%;
    margin: 30px 300px 10px 100px;
    text-align: center;
}

.request-content {
    word-wrap: break-word;
}